<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lecturers</title>
</head>
<body>
  <h1>Lecturers (MongoDB)</h1>
  <table border="1">
    <thead>

        <form action="/lecturers" method="GET">
            <input type="text" name="search" placeholder="Search Lecturers..." value="<%= searchQuery %>" />
            <button type="submit">Search</button>
          </form>
          
      <tr>
        <th>Lecturer ID</th>
        <th>Name</th>
        <th>Department ID</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% lecturers.forEach(lecturer => { %>
        <tr>
          <!-- Lecturer ID -->
          <td><%= lecturer.lid %></td> 
          <!-- Lecturer Name -->
          <td><%= lecturer.name %></td> 
          <!-- Department ID -->
          <td><%= lecturer.did %></td> 
          <td>
             <!-- Delete Action -->
            <a href="/lecturers/delete/<%= lecturer._id %>">Delete</a>
          </td>
        </tr>
      <% }) %>
    </tbody>
  </table>
  <a href="/">Back to Main Page</a>
</body>
</html>

