<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Students</title>
</head>
<body>
    <h1>Students List</h1>

    <form action="/students" method="GET">
        <input type="text" name="search" placeholder="Search Students..." value="<%= searchQuery %>" />
        <button type="submit">Search</button>
      </form>

    <!-- Home Button -->
    <a href="/" style="margin-right: 10px;">
        <button>Home</button>
    </a>

    <!-- Add Student Button -->
    <a href="/students/add">
        <button>Add Student</button>
    </a>

    <table>
        <thead>
            <tr>
                <th>Student ID</th>
                <th>Name</th>
                <th>Age</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <% students.forEach(student => { %>
                <tr>
                    <td><%= student.sid %></td>
                    <td><%= student.name %></td>
                    <td><%= student.age %></td>
                    <td>
                        <!-- Update Link -->
                        <a href="/students/edit/<%= student.sid %>">Update</a>
                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</body>
</html>


